{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "About programm model - Pulsejet" %}{% endblock %}
{% block content %}
<div class="p-5 mb-4 bg-light rounded-3 shadow">
  <div class="row align-items-center">
    <div class="col-md-12 text-center">
      <img src="/static/images/2. About prog.png" style="width:900px;" alt="Pulsejet about prog model" class="img-fluid rounded shadow-sm fade-in">
    </div>
  </div>
  <div class="row align-items-center"></div>
  <div class="col-md-12 mt-4">
    <h1 class="display-4 text-center">{{ t.text1 }} <br /> {{ t.text1_1 }} </h1>
    <p class="text-center" style="font-size: 2em;font-weight: 300;">{{ t.text2 }}</p>
    <hr class="my-4">
    <div class="text-group">
      <p style="text-align: justify;">{{ t.text3 }}</p>
      <p style="text-align: justify;">{{ t.text4 }}</p>
      <p style="text-align: justify;">{{ t.text5 }}</p>
      <p style="text-align: justify;">{{ t.text6 }}</p>
      <p style="text-align: justify;">{{ t.text7 }}</p>
      <p class="image-container">
        <img src="/static/images/b-0 page.jpg" alt="b-0 page">
      </p>
      <p style="text-align: justify;">{{ t.text8 }}</p>
    </div>
    <p>
    <h3 style="text-align: center;">{{ t.text9 }}</h3>
    </p>
    <div class="text-group">
      <p style="text-align: justify;">{{ t.text10 }}</p>
      <p class="image-container">
        <img src="/static/images/b-1 page.jpg" alt="b-1 page">
      </p>
    </div>
    <div class="text-group">
      <p style="text-align: justify;">{{ t.text11 }}</p>
      <p class="image-container">
        <img src="/static/images/b-2 page.jpg" alt="b-2 page">
      </p>
      <p style="text-align: justify;">{{ t.text12 }}</p>
    </div>
    <div class="text-group">
      <p style="text-align: justify;">{{ t.text13 }}</p>
      <p class="image-container">
        <img src="/static/images/b-3.jpg" alt="b-3 page">
      </p>
    </div>
    <div class="text-group">
      <p style="text-align: justify;">{{ t.text14 }}</p>
      <p class="image-container">
        <img src="/static/images/b-5.jpg" alt="b-5 page">
      </p>
      <p class="image-container">
        <img src="/static/images/b-6-1A.jpg" alt="b-6-1A page">
      </p>
      <p class="image-container">
        <img src="/static/images/b-6-1V.jpg" alt="b-6-1V page">
      </p>
      <p style="text-align: justify;">{{ t.text15 }}</p>
      <p class="image-container">
        <img src="/static/images/b-4-1L.jpg" alt="b-4-1L page">
      </p>
    </div>
    <div class="text-group">
      <p style="text-align: justify;">{{ t.text16 }}</p>
      <p class="image-container">
        <img src="/static/images/b-7.jpg" alt="b-7 page">
      </p>
    </div>
    <div class="text-group">
      <p style="text-align: justify;">{{ t.text17 }}</p>
      <p class="image-container">
        <img src="/static/images/b-8.jpg" alt="b-8 page">
      </p>
    </div>
    <div class="text-group">
      <p style="text-align: justify;">{{ t.text18 }}</p>
      <p class="image-container">
        <img src="/static/images/b-9.jpg" alt="b-9 page">
      </p>
    </div>
    <div class="text-group">
      <p style="text-align: justify;">{{ t.text19 }}</p>
      <p class="image-container">
        <img src="/static/images/r-0.jpg" alt="r-0 page">
      </p>
      <p style="text-align: justify;">{{ t.text20 }}</p>
    </div>
    <div class="text-group">
      <p style="text-align: justify;">{{ t.text21 }}</p>
      <p class="image-container">
        <img src="/static/images/r-1.jpg" alt="r-1 page">
      </p>
    </div>
    <div class="text-group">
      <p style="text-align: justify;">{{ t.text22 }}</p>
      <p class="image-container">
        <img src="/static/images/r-2.jpg" alt="r-2 page">
      </p>
    </div>
    <div class="text-group">
      <p style="text-align: justify;">{{ t.text23 }}</p>
      <p class="image-container">
        <img src="/static/images/r-3.jpg" alt="r-3 page">
      </p>
    </div>

    <p class="text-center">
      <a class="btn btn-primary btn-lg" href="/modeling/" role="button" style="width: 36em;">
        {{ t.text24 }}
        <img src="/static/images/00-button-3.png" alt="" style="max-height: 30px;">
      </a>
    </p>
    <p class="text-center">
      <a class="btn btn-primary btn-lg" href="/description-mat-model/" role="button" style="width: 36em;">
        {{ t.text25 }}
        <img src="/static/images/00-button-3.png" alt="" style="max-height: 30px;margin-left: 1em;">
      </a>
    </p>

  </div>
</div>
</div>



{% endblock %}