{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Description mat model - Pulsejet" %}{% endblock %}
{% block content %}
<div class="p-5 mb-4 bg-light rounded-3 shadow">
  <div class="row align-items-center">
    <div class="col-md-12 text-center">
      <img src="/static/images/4. Descript.png" style="width:900px;" alt="Pulsejet description mat model" class="img-fluid rounded shadow-sm fade-in">
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-md-12 mt-4">
      <h1 class="display-4 text-center">{{ t.text1 }}</h1>
      <p class="text-center" style="font-size: 2em;font-weight: 300;">{{ t.text2 }}</p>
      <hr class="my-4">
      <div class="text-group">
        <p style="text-align: justify;">{{ t.text3 }}</p>
      </div>
      <div class="text-group">
        <p style="text-align: justify;">{{ t.text4 }}</p>
      </div>
      <div class="text-group">

        <p style="text-align: justify;">{{ t.text5 }}</p>
      </div>
      <div class="text-group">
        <p style="text-align: justify;">{{ t.text6 }}</p>
      </div>
      <div class="text-group">
        <p style="text-align: justify;">{{ t.text7 }}</p>
      </div>
      <div class="text-group">
        <p style="text-align: justify;">{{ t.text8 }}</p>
      </div>
      <div class="text-group">
        <p style="text-align: justify;">{{ t.text9 }}</p>
      </div>
      <div class="text-group">
        <p style="text-align: justify;">{{ t.text10 }}</p>
      </div>
      <div class="text-group">
        <p style="text-align: justify;">
        <h3>{{ t.text11 }}</h3>
        </p>
        <p style="text-align: justify;">{{ t.text12 }}</p>
        <p style="text-align: justify;">{{ t.text13 }}</p>
        <p style="text-align: justify;">{{ t.text14 }}</p>
        <p style="text-align: justify;">{{ t.text15 }}</p>
      </div>
      <div class="text-group">
        <h3>
          <p style="text-align: justify;">
            {{ t.text16 }}
          </p>
        </h3>
        <p style="text-align: justify;">{{ t.text17 }}</p>
        <p class="image-container">
          <img src="/static/images/{{t.formula1}}.png" alt="{{t.formula1}}.png">
        </p>
        <p class="image-container">
          <img src="/static/images/{{t.formula2}}.png" alt="{{t.formula2}}.png">
        </p>
        <p class="image-container">
          <img src="/static/images/{{t.formula3}}.png" alt="{{t.formula3}}.png">
        </p>
        <p class="image-container">
          <img src="/static/images/{{t.formula4}}.png" alt="{{t.formula4}}.png">
        </p>
        <p style="text-align: justify;">{{ t.text18 }}</p>
        <p class="image-container">
          <img src="/static/images/{{t.formula5}}.png" alt="{{t.formula5}}.png">
        </p>
        <p style="text-align: justify;">{{ t.text19 }}</p>
      </div>
      <div class="text-group">
        <p style="text-align: justify;">
        <h3>{{ t.text20 }}</h3>
        </p>
        <p style="text-align: justify;">{{ t.text21 }}</p>
        <p class="image-container">
          <img src="/static/images/formla_image8.png" alt="formulai8.png">
        </p>
        <p style="text-align: justify;text-align: center;"><i>{{ t.text22 }}</i></p>
        <p style="text-align: justify;text-align: center;"><i>{{ t.text23 }}</i></p>
        <p style="text-align: justify;">{{ t.text24 }}</p>
        <p class="image-container text-center">
          <img src="/static/images/formula8.png" alt="formula8.png">
        </p>
        <p style="text-align: justify;">{{ t.text25 }}</p>
        <p class="image-container text-center">
          <img src="/static/images/{{t.formula9}}.png" alt="{{t.formula9}}.png">
        </p>
        <p class="image-container text-center">
          <img src="/static/images/{{t.formula10}}.png" alt="{{t.formula10}}.png">
        </p>
        <p class="image-container text-center">
          <img src="/static/images/{{t.formula11}}.png" alt="{{t.formula11}}.png">
        </p>
        <p class="image-container text-center">
          <img src="/static/images/{{t.formula12}}.png" alt="{{t.formula12}}.png">
        </p>
        <p class="image-container text-center">
          <img src="/static/images/{{t.formula13}}.png" alt="{{t.formula13}}.png">
        </p>
        <p class="image-container text-center">
          <img src="/static/images/{{t.formula14}}.png" alt="{{t.formula14}}.png">
        </p>
        <p style="text-align: justify;">{{ t.text26 }}</p>
        <p style="text-align: justify;">{{ t.text27 }}</p>
      </div>
      <div class="text-group">
        <p style="text-align: justify;">
        <h3>{{ t.text28 }}</h3>
        </p>

        <p style="text-align: justify;">{{ t.text29 }}</p>
        <p class="image-container text-center">
          <img src="/static/images/{{t.formula15}}.png" alt="{{t.formula15}}.png">
        </p>
        <p class="image-container text-center">
          <img src="/static/images/formula16.png" alt="formula16.png">
          <img src="/static/images/formula17.png" alt="formula17.png">
        </p>
        <p style="text-align: justify;text-align: center;"><i>{{ t.text30 }}</i></p>
        <p class="image-container text-center">
          <img src="/static/images/{{t.formula18}}.png" alt="{{t.formula18}}.png">
        </p>
        <p style="text-align: justify;">{{ t.text30 }}</p>
      </div>
      <div class="text-group">
        <p style="text-align: justify;">
        <h3>{{ t.text31 }}</h3>
        </p>
        <p class="image-container text-center">
          <img src="/static/images/{{t.formula19}}.png" alt="{{t.formula19}}.png">
        </p>
        <p class="image-container text-center">
          <img src="/static/images/{{t.formula20}}.png" alt="formula20.png">
        </p>
      </div>
      <div class="text-group">
        <p style="text-align: justify;">
        <h3>{{ t.text32 }}</h3>
        </p>
        <p style="text-align: justify;">{{ t.text33|safe }}</p>
      </div>
      <p class="text-center">
        <a class="btn btn-primary btn-lg" href="/what-to-read/" role="button">
          {{ t.text34 }}
          <img src="/static/images/00-button-3.png" alt="" style="max-height: 30px;margin-left: 1em;">
        </a>
      </p>

    </div>
  </div>
</div>



{% endblock %}