html, body.my-portal {
  background-color: #f1f8ff; /* Светлый голубой фон */
  font-family: 'Arial', sans-serif;
  padding: 0; /* Remove default padding */
  background: url("/static/images/000-background.jpg") no-repeat center center; 
  background-size: cover;          /* Ensures the image covers the container */
  background-attachment: scroll;   /* or 'fixed' if you want a parallax effect */
  background-position: center;       
  align-items: center;
  background-repeat: no-repeat;
  min-height: 100%;
  background-size: cover;
  margin: 0;
  font-size: 1.2em;
}

/* Навигационная панель */
.my-portal .navbar {
  background-color: #f44336; /* Красный */
}

.my-portal .navbar-brand {
  font-weight: bold;
  color: #ffffff; /* Белый цвет для текста */
}

.my-portal .navbar-nav .nav-link {
  color: #ffffff;
}

.my-portal .navbar-nav .nav-link:hover {
  color: #ff9800; /* Оранжевый при наведении */
}

/* Контейнер */
.my-portal .container {
  margin-top: 40px;
}

/* Кнопки */
.my-portal .btn-primary {
  background-color: #ff9800; /* Оранжевый */
  border-color: #ff9800;
}

.my-portal .btn-primary:hover {
  background-color: #e65100; /* Темный оранжевый при наведении */
  border-color: #e65100;
}

.my-portal .btn-secondary {
  background-color: #039be5; /* Голубой */
  border-color: #039be5;
}

.my-portal .btn-secondary:hover {
  background-color: #0288d1; /* Темный голубой при наведении */
  border-color: #0288d1;
}

/* Карточки */
.my-portal .card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
}

.my-portal .card-header {
  background-color: #ff9800;
  color: white;
  font-weight: bold;
}

.my-portal .card-.my-portal {
  background-color: #ffffff;
}


.my-portal a:hover {
  color: #ff9800; /* Оранжевый при наведении */
}

/* Футер */
.my-portal footer {
  background-color: #f44336;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  margin-top: 40px;
}

.image-container {
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  /* height: 100vh; Full viewport height */
  margin-top: 3em;
  margin-bottom: 3em;
}

img {
  max-width: 100%;
  height: auto;
}

.text-group {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-left: 5px solid #ff9800;
  border-radius: 5px;
} 

.fade-in {
  opacity: 0;
  animation: fadeIn ease-in-out 1s forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}



